.createBook > h1{
    text-align: center;
    color: rgb(63,61,86);
    font-size: 50px;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 1% 15%;
    padding: 2% 5%;
    border-radius: 10px;
    background-color: rgb(214,212,206);
    color: rgb(63,61,86);
}
label{
    font-size: 20px;
    font-weight: 700;
}
.formInputCB{
    font-size: 20px;
    background: transparent;
    border-color: rgb(63,61,86);
    border-radius: 10px;
    padding: 5px;
}
.submitBtn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
.submitBtn:hover{
    background-color: rgb(63,61,86);
    color: rgb(214,212,206);
    cursor: pointer;
}