.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(63,61,86);
}
.logo{
    width: 100px;
}
.mern{
    width: 80px;
}
.text{
    line-height: 10px;
}
.text > h2{
    font-size: 20px;
    color: rgb(214,212,206);
}
.text > h1{
    font-size: 40px;
    color: rgb(214,212,206);
}